.Rproj.user
.Rhistory
.RData
.Ruserdata
.GCF_000001735.4_TAIR10.1_genomic.fna.gz
.GCF_000001735.4_TAIR10.1_genomic.fna
.GCF_000001735.4_TAIR10.1_genomic.gtf.gz
.GCF_000001735.4_TAIR10.1_genomic.gtf
.processed_reads/